<div class="container">
  <!--<mat-form-field appearance='standard'>
    <input matInput placeholder="Enter city" [formControl]="search">-->
    <mat-form-field appearance="outline">
        <mat-label>Search For the city</mat-label>
        <input matInput placeholder="Enter City" [formControl]="search">
</mat-form-field>
<app-current-weather></app-current-weather> 
</div>


<!--<mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Enter City" [formControl]="search">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>-->